<form [formGroup]="productoForm" (ngSubmit)="submitProducto()" novalidate>
  <input type="hidden" formControlName="id" />
  <mat-card class="shipping-card, margen-form">
    <mat-card-header>
      <mat-card-title>{{titleForm}} Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" >
            <mat-label>Índice</mat-label>
            <input matInput formControlName="id" placeholder="Id" [readonly]="true">
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Modelo</mat-label>
            <input matInput formControlName="nombre" maxlength="20" placeholder="Nombre">
            <mat-hint align="end"></mat-hint>
            @if (errorHandling('nombre')) {
            <mat-error>
              {{errorHandling('nombre')}}
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <!-- 2da linea -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="descripcion" placeholder="Descripción">
            @if (errorHandling('descripcion')) {
            <mat-error>
              {{errorHandling('descripcion')}}
            </mat-error>
            }

          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <span matPrefix>&#8353;</span>
            <mat-label>Precio</mat-label>
            <input matInput formControlName="precio" placeholder="Costo unitario">
            @if (errorHandling('precio')) {
            <mat-error>
              {{errorHandling('precio')}}
            </mat-error>
            }

          </mat-form-field>
        </div>


      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Cilindraje</mat-label>
            <input matInput formControlName="cilindraje" placeholder="cilindraje">
            @if (errorHandling('cilindraje')) {
            <mat-error>
              {{errorHandling('cilindraje')}}
            </mat-error>
            }

          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Tipo de llanta</mat-label>
            <input matInput formControlName="tipoLLanta" placeholder="tipo de llanta">
            @if (errorHandling('tipoLLanta')) {
            <mat-error>
              {{errorHandling('tipoLLanta')}}
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Código</mat-label>
            <input matInput  placeholder="Codigo"  [readonly]="true" formControlName="codigo">
          </mat-form-field>
        </div>
      </div>
      
      <div class="row">
        <div class="col" *ngIf="categoriaList">
          <mat-form-field class="full-width">
            <mat-label>Categoria</mat-label>
            <mat-select placeholder="Categoria" formControlName="categorias" >
              @for (item of categoriaList; track item.id) {
              <mat-option [value]="item.id">
                {{item.descripcion}}
              </mat-option>
              }
            </mat-select>
            @if (errorHandling('categorias')) {
            <mat-error>
              {{errorHandling('categorias')}}
            </mat-error> 
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col" *ngIf="subcategoriaList">
          <mat-form-field class="full-width">
            <mat-label>Subcategoria</mat-label>
            <mat-select placeholder="Sub Categoria" formControlName="subcategorias">
              @for (item of subcategoriaList; track item.id) {
              <mat-option [value]="item.id">
                {{item.descripcion}}
              </mat-option>
              }
            </mat-select>
            @if (errorHandling('subcategorias')) {
            <mat-error>
              {{errorHandling('subcategorias')}}
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Cantidad</mat-label>
            <input matInput  placeholder="Cantidad" [disabled]="true" [readonly]="true" formControlName="cantidad">
          </mat-form-field>
        </div>
      </div>

      <!-- <div class="row">
          <div class="col">
            <mat-label>Publicar</mat-label>
            <mat-radio-group formControlName="publicar">
              <mat-radio-button [value]="true">Sí</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
            @if (errorHandling('publicar')) {
              <mat-error>
                {{errorHandling('publicar')}}
              </mat-error>
            }
          </div>
        </div> -->

    </mat-card-content>
    <mat-card-actions>
      <div class="example-button-row">
        <button mat-raised-button color="warn" (click)="onReset()">Reset</button>
        <button mat-raised-button color="primary" (click)="onBack()">Regresar</button>
        <button mat-raised-button color="accent" type="submit">Guardar</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>