.footer-row {
    font-weight: bold;
  }
  .box { margin: 2em 2em; padding: 2em 2em;}
  .header{
    background-color:#3f4449;
    color: white;
    font-weight: 800;
  }
  .footer-row{
    background-color:#3f4449;
    color: white;
    
  }
  .footer-total{
    font-size: 1.2em;
    font-weight: bolder;
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }