<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
  @if(datos){
  <div> 
    <h2 mat-dialog-title class="dialog-headline">{{ datos.nombre }}</h2>
  
    <mat-dialog-content class="content">
      <p><b>Codigo: </b>{{ datos.codigo }}</p>
      <p><b>Nombre: </b>{{ datos.nombre }}</p>
      <p><b>Descripcion: </b>{{ datos.descripcion }}</p>
      <p><b>Precio: </b>{{ datos.precio | currency : "₡" }}</p>
      <p> <b>Cantidad: </b>{{ datos.cantidad }}</p>
      <p class="price">{{ datos.precio | currency : "₡" }}</p>
      @if(datos.subCategoria){
        <mat-chip-listbox aria-label="SubCategoria">
          @for (item of datos.generos; track item.id) {
            <mat-chip-option color="accent" selected> {{item.nombre}}</mat-chip-option>
          }
          
        </mat-chip-listbox>       
      }
    </mat-dialog-content>
  </div>
  }
  