mat-card {
    max-width: 800px;
    margin: 2em auto;
    text-align: center;
  }
  .example-header-image {
    background-image: url("/assets/images/automovilismo.png");
    background-size: cover;
  }
  .canvas-container {
    width: 100%;
    max-width: 800px; /* Ajusta este valor según sea necesario */
    margin: 0 auto;
  }
  
  canvas {
    width: 100%;
    height: auto;
    border: 1px solid #ddd; /* Borde opcional */
  }
  
  .chart-titles {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  